<%= form_for @task do |f| %>
  <div class="field">
    <%= f.label 'id' %>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label 'episode' %>
    <%= f.text_field :episode %>
  </div>
  <div class="field">
    <%= f.label 'date' %>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label 'title' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.check_box :completed %>
    <%= f.label :completed, 'watched' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>