.race
  = form_tag complete_task_path(task), method: :put do
    = link_to show_date(task.date), edit_task_path(task) 
    - if task.title == "cancel"
      %strong
        no broadcasting on date
    - else
      - if current_user
        - if task.statuses.find_by(user_id: current_user.id).completed
          w
          = button_tag "undo", value: false, class: "buttons"
        - else
          o
          = button_tag "watch", value: true, class: "buttons"
      #{task.title} : Episode #{task.episode} : Show #{task.episode + 132} 
