- status = Status.find_by(task_id: task.id, user_id: @user.id)

.race
  = form_tag complete_task_path(task), method: :put do
    = link_to show_date(task.date), edit_task_path(task) 
    - if task.title == "cancel"
      %strong
        no broadcasting on date
    - else
      = task_status(status.completed)
      - if status.completed
        = button_tag "undo", value: false, class: "buttons"
      - else
        = button_tag "watch", value: true, class: "buttons"
      #{task.title} : #{task.episode + 132} : Episode #{task.episode}
