<h1>Tasks Index</h1>

<h2>Unwatched</h2>
<%= "no more unwatched episodes" unless @un_tasks.any? %>
<%= render @un_tasks %>

<h2>Watched</h2>
<%= "no episodes watched yet" unless @do_tasks.any? %>
<%= render @do_tasks %>   

<h2>All</h2>
<%= will_paginate @tasks, :page_links => false, class: 'apple_pagination' %>
<br>
<%= render @tasks %>
